.movie-card {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid black;
    margin: 15px;
    color: rgb(255, 251, 247);
    background-color: black;

}
img{
    
}

.card-poster{
    width: 100%
}

.card-info {
    max-width: 87%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    border: 10px;
}
