.movies-and-search-container{
    display: flex;
    flex-direction: column;    
}
.movies-container{
    padding-left: 5%;
    margin: 0px;
    border: 0px;
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
}

.live-search{
    align-self: center;
}